* {
  padding: 0;
  margin: 0;
  display: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 120%;

  background: #fc354c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0abfbc,
    #fc354c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0abfbc,
    #fc354c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;

  text-align: center;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  color: white;
}

.input-are {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}

.btn {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.input {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  font-family: inherit;
  font-size: 105%;
  width: 200px;

  color: white;
}

button:hover {
  background: #7c7c7c6b;
}

.description-area {
  padding: 10px;
}

.description-area p {
  margin: 10px;
}
